# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*.kicad_prl
*.sch-bak
*~
*~
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

.history

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv


## SolidWorks

# SolidWorks temporary files
~$*.sldprt
~$*.sldasm
~$*.slddrw
~$*.sld

# For systems with case-sensitive (SolidWorks uses both)
~$*.SLDPRT
~$*.SLDASM
~$*.SLDDRW
~$*.SLD

# SolidWorks backups and auto-recovery
*.bak
*.swbak
